:root {
    --text-gray: #a1a1a1;
    --text-white: #fff;
    --bg-gray-dark: #171717;
    --bg-gray-dark-2: #0d0c0d;
    --nav-height: 70px;
    --nav-gray-dark: #171717;
    --nav-border-dark: #242424;
    --table-image-width: 500px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    line-height: 26px;
    font-family: "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    background-color: black;
    color: white;
    text-indent: 0;
    white-space: normal;
}

.header {
    padding: 0;
    background-color: var(--bg-gray-dark);
    background-image: url('../Images/background_santiago-gomez-WpZmGDzOAi0-unsplash.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1, strong {
    margin-top: 0;
    align-items: center;
}

.header__name {
    font-weight: bolder;
}

.header__description {
    font-size: 1.5em;
    font-weight: normal;
}

.header__navigation {
    font-variant: all-petite-caps;
    position: sticky;
    top: 0;
    margin: 0 !important;
    height: auto;
    background: var(--nav-gray-dark);
    box-shadow: 0 10px 10px var(--nav-border-dark);
}

.header-navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

.header-navigation__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: auto 100px;
    height: var(--nav-height);
}

.header-navigation__item a {
    color: var(--text-gray);
    text-decoration: none;
}

.header-navigation__item_active {
    color: var(--text-white) !important;
    text-decoration: underline !important;
}

.go-up {
    position: fixed;
    bottom: 0;
    right: 10px;
    filter: invert();
}

.main {
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;
    scroll-margin-top: var(--nav-height);
}

.section-bg-1 {
    background-color: var(--bg-gray-dark);
}

.section-bg-2 {
    background-color: var(--bg-gray-dark-2);
}

.section__article {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section__article_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-article__header {
    color: var(--text-white);
    font-weight: bold;
    font-size: 1.5em;
}

.section-article__table {
    text-align: center;
    min-width: var(--table-image-width);
    width: 80%;
    border: 1px solid white;
    table-layout: auto;
}

.section-article__table img {
    width: var(--table-image-width);
}

.section-article__table thead {
}

.section-article__table tbody {
}

.section-article__table tr:nth-child(odd) {
    background: #777777;
}

.section-article__table tr:nth-child(even) {
    background: #333333;
}

.section-article__table td {
    border: 1px solid white;
    padding: 10px 40px;
    overflow: hidden;
}

.section-article__table td:nth-child(odd) {
    text-align: right;
}

.section-article__table td:nth-child(even) {
    text-align: left;
}

.section-article__text {
    color: var(--text-gray);
    font-weight: bold;
}

.section-article__aside {
    /* There will be some flex alignment */
}

.img-width-400 {
    width: 400px;
}

.section-article__blockquote {
    font-variant: normal;
}

.section-article-blockquote__p {
    font-style: normal;
}

.section-article-blockquote__cite {
    font-style: italic;
    padding-left: 200px;
}

.image-shadow {
    box-shadow: 7px 7px 10px gray;
}

.section-article__list {
    margin: 0;
    padding: 0 50px 0 0;
    list-style-position: inside;
}

.email {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.margin-top-50 {
    margin-top: 50px;
}

.footer {
    background-color: var(--bg-gray-dark);
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer__pre {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__code {
    font-family: "Fira Code", serif;
    font-size: small;
    font-weight: normal;
    background-color: #565656;
    border: 1px solid #999999;
    display: block;
    padding: 5px 10px;
    white-space: pre;
    text-align: left;
    width: fit-content;
}

.footer__copyright {
    text-align: center;
}

@media screen and (max-width: 1350px) {
    .header__navigation, .footer__pre {
        display: none;
    }

    .header {
        height: 100vh;
    }
}
