:root {
    --text-gray: #a1a1a1;
    --text-white: #fff;
    --bg-gray-dark: #171717;
    --bg-gray-dark-2: #0d0c0d;
    --nav-height: 70px;
    --nav-gray-dark: #171717;
    --nav-border-dark: #242424;
    --table-image-width: 500px;
}
